
#home-screen {
    margin: 0 auto;
    text-align: center;
    color: white;
}

h1, h2, p {
    color: white;
}

body {
    background-color: blue;
}

button {
    background-color: transparent;  /* Make the button transparent */
    border: 2px solid white;  /* Add a white border */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

table {
    margin: 0 auto;
}

button:hover {
    background-color: white;  /* Change background color on hover */
    color: blue;
}